*{
	margin:0;
	padding:0;
}
body{
	background-color: #f4e5b2;
	font-family: 'tinos';
}
.site{
	display:grid;
	grid-template-columns:5% 30% 30% 30% 5%;
	grid-template-rows: 120px 50px auto auto 100px;
	grid-template-areas: "topo topo menu menu menu"
						 "cont cont cont cont cont"
						 "cont cont cont cont cont"
						 "cont cont cont cont cont"
						 "rodape rodape	rodape rodape rodape";
}
#topo{
	background-color: #040B25;
	grid-area: topo;
	height: 115px;
}
#topo img{
	margin-left:40px;
	margin-top: 25px;
	height:100px;
}	


#menu{
	background-color:#040B25;
	color: white;
	height: 115px;
	grid-area: menu;
}
#menu ul{
	display: flex;
	justify-content: space-around;
	list-style:none;
	align-items: center;
	height:100px;
}
#menu ul a{
	color: white;
	text-decoration: none;
}


#esc{
	grid-area: cont;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height:90vh;
	
}
#esc img{
	border:3px solid #040B25;
	margin-left:10px;
	margin-right:10px;
	margin-top:57px;
	width: 300px;
	height: 300px;
}

#assunto{
	margin-top:80px;
	width: 100%;
	margin-bottom:100px;
}

#assunto h1{
	margin-top:30px;
	margin-bottom:25px;
	font-size:1.5em;
	text-align:center;
}
#assunto p{
	font-size:1.2em;
	text-align:justify;
	margin: 0 20px 20px 0;
}



#rodape{
	display:flex;
	grid-area: rodape;
	background-color:#040B25;
	justify-content: space-between;
	list-style:none;
	align-items: center;

}
#rodape img{
	 margin:0;
	 width:20%;
	 height:100%;
	
}
#rodape h2{
	 color:white;
	 font-family:times new roman;
	 text-shadow: 2px 2px 4px #daa520;
	 text-align: center;
}

